<div class="app-artist">
    <div class="app-artist__header pointer mx-1" *ngIf="artist.isZoomHeader" (click)="this.requestZoomOut()">
        {{ artist.zoomHeader }}
    </div>
    <div
        *ngIf="!artist.isZoomHeader"
        class="app-artist__name ellipsis px-1"
        [ngClass]="{
            'selected-item-background-important': artist.isSelected,
            'app-artist__name--blacklisted': this.blacklistService.isArtistBlacklisted(artist.name)
        }"
        matRipple
        [matRippleTrigger]="trigger"
        #trigger
    >
        <i
            *ngIf="this.blacklistService.isArtistBlacklisted(artist.name)"
            class="las la-ban app-artist__blacklist-icon"
            matTooltip="{{ 'blacklisted' | translate }}"
        ></i>
        {{ artist.displayName }}
    </div>
</div>
